framework: net472
generate_load_scripts: true

source https://www.nuget.org/api/v2

nuget FSharpx.Extras
nuget FSharpx.Collections ~> 1.17

source https://www.myget.org/F/zenprotocol/api/v3/index.json

nuget ZFStar 0.0.27-alpha004